
RewriteEngine on

RewriteBase /

############################
###   CL rules - BEGIN   ###
############################
  RewriteRule ^user                                 riccopensa/controller/Controller.php [L]
  RewriteRule ^api                                  riccopensa/controller/Controller.php [L]
############################
###   CL rules - END     ###
############################

