.header {
	color: #43263E; 
        text-align: center; 
        font-size: 22px; 
        background-color: #FFFFFF;
}

.footer {
	color: #7F0000;
        text-align: center; 
        font-size: 16px;
        padding-top: 20px;
        background-color: #E8E8E8;
        margin: 100px 15px 0px 15px;
        position: inherit;
        bottom: 0px;
        height: 100%;
}

.body {
    font-family: sans-serif,Arial,Verdana,Tahoma;
}

.menubar {
    background-color: #E8E8E8;
    height: 68px;
    margin: 15px;
    text-align: left;
    text-decoration: none;
    padding-top: 16px;
    padding-left: 20px;
}

.login {
        border-top: #313f8a 1px solid; 
        border-left: #313f8a 1px solid; 
	border-right: #313f8a 2px solid; 
        border-bottom: #313f8a 2px solid;
        width: 380px;
        height: 32px;
        font-size: 16pt;
}

.boxlogin {
        margin: 0 auto;
        border-style:dashed; 
        width:500px; 
}

.boxcommonform {
        margin: 0 auto;
        border-style:dashed; 
        width:750px; 
}

.boxaddavatar {
        margin: 40px auto;
        border-style: solid; 
        border-width: thin; 
        width:220px; 
}

.formlogin {
        margin: 40px;
}

.boxtitle {
        font-size: 30px;
        color: #7F0000;
        text-align: center;
}

.boxsponsor {
        font-size: 16px;
        padding-bottom: 5px;
}

.boxmessage {
        padding: 50px;
        text-align: center;
        height: 400px;    
}

p {
	color: #000000; 
        font-size: 14pt; 
        text-align: left;
}

a {
	color: #3C828C; 
        font-size: 14pt; 
        text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.button {
        height: 40pt;
        font-size: 22pt;
        font-family: Arial,Verdana,Tahoma;
        padding: 4px 20px 4px 20px;
        font-weight: bold;
        cursor: pointer;
        background: #225489;
        color: #fff;
        border: none;
}

.button:hover {
        background: #003c6e;
        border: 1px solid #225489;
        color: #fff;
}

.buttonimage {
        background: transparent;
        border: 0px solid;
        outline: 0px;     
}

/*** CLASSI PER DEFINIRE GRANDEZZA IMMAGINI ***/
.img_16_16 {
        height: 16px;
        width: 16px;
}

.img_24_24 {
        height: 24px;
        width: 24px;
}

.img_36_36 {
        height: 36px;
        width: 36px;
}

.img_48_48 {
        height: 48px;
        width: 48px;
}

.img_60_60 {
        height: 60px;
        width: 60px;
}

.img_100_100 {
        height: 100px;
        width: 100px;
}

.img_200_200 {
        height: 200px;
        width: 200px;
}

.avatar {
        margin: 10px;
        border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);        
}

.avatarmenubar {
    float: right;
    margin-top: -15px;
    padding-right: 15px;    
}

.paneluser {
  opacity: 0.2;
  display: inline-block;
}

.paneluser:hover {
  opacity: 1;
  display: inline-block;
}

.hasLeftborder {
    border-left: 1px solid grey;
    margin-top: 15px;
}

.shadow {
    box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.32);
}